*{
    padding: 0;
    margin: 0;
}

.header-section{
    background-image: url("/images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(217, 43%, 12%);
    padding: 12px 37px 1px;
    background-position: bottom;
}

.navbar-brand{
    padding-bottom: 20px;
}

.img-logo{
    width: 140px;
    margin: 40px 0;
}

.nav-item{
    font-size: 0.9rem;
    padding: 0 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.nav-item a:hover{
    color: white;
    text-decoration: underline;
}

.header-text{
    text-align: center;
    margin: 20px 0 25px 0;
}

.header-text h1{
    color: hsl(0, 0%, 100%);
    font-size: 1.8rem;
    padding: 0 30%;
    margin: 25px 0;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.header-text p{
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding: 0 33%;
    margin: 25px 0;
}

.btn-header{
    width: 230px;
    height: 50px;
    margin-bottom: 180px;
    
}

.btn-info{
    color: hsl(0, 0%, 100%);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    
}

.btn-group-lg>.btn, .btn-lg {
    font-size: 0.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.btn-header:hover{
    background-color: rgb(128, 252, 252);
}

.btn-group-lg>.btn, .btn-lg:hover {
   color: white;
}

.form-control{
    padding-left: 30px;
}

.img-intro{
    width: 550px;
    font-size: 5px;
}

.features{
    text-align: center;
    padding: 0 15% 5%;
    background-color: hsl(218, 28%, 13%);
}

img .img-icons{
    width: 70px;
    height: 80px;
    
}

.quotes{
    position: absolute;
    z-index: 0;
    left: 175px;
    top: 2240px;
}

.features h2{
    font-size: 20px;
    color: hsl(0, 0%, 100%);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.features p{
    font-size: 12px;
    padding: 0 60px;
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1;
    color: hsl(0, 0%, 100%);
    line-height: 1.5;
}

.stay-productive-section{
    background-color: hsl(218, 28%, 13%);
}

.stay-productive-section h2 p{
    color: hsl(0, 0%, 100%);
    text-align: left;
}

.stay-productive-section h2{
    color: hsl(0, 0%, 100%);
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.stay-productive-section p{
    font-size: 12px;
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.see-how-fylo{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgb(13, 202, 240);
}

.col-img{
    text-align: right;
}

.col-text{
    padding: 110px 20px 65px 20px;
    
}

.col-text h2{
    font-size: 35px;
    
}

.col-text p{
    font-size: 15px;
    margin-top: 16px;
    margin-bottom: 16px;
    
}

.col h2{
    margin-top: 25px;
}

.testimonials-info h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 11px;
    margin-bottom: 0%;
    color: hsl(0, 0%, 100%);
}

.testimonials-row{
    padding: 150px 0 50px;
    background-color: hsl(218, 28%, 13%);
}

.testimonials-info p{
    font-size: 9px;
    font-family: 'Open Sans', sans-serif;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    margin-bottom: 0;
}

.card{
    margin: auto;
    background-color: hsl(217, 43%, 12%);
}

.card-left{
 margin-right: 0;
}

.card-right{
    margin-left: 0;
}

.card-text{
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
}

.img-profile{
    width: 10%;
    float: left;
    border-radius: 100%;
    margin-right: 10px;
}

.early-access-section{
    margin-top: 100px;
}

.card-body-early-section{
    padding: 27px;
    background-color: hsl(217, 43%, 12%);

}

.card-body{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.card-early-section{
    width: 50%;
    position: relative;
    z-index: 1;
    top: 120px;
    box-shadow: 3px 3px 3px black;
}

.early-access-section .card-tittle-access{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: hsl(0, 0%, 100%);
}

.early-access-section .card-text-access{
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    margin: 16px 25px;
}

.early-access-section .card-body{
    text-align:center;
}

.btn-early-access{
    padding: 11px 23px;
}

.btn-early-access:hover{
    background-color: rgb(128, 252, 252);
}


.call-to-action-section{
    background-color: hsl(217, 43%, 12%);
}

.call-to-action-section .container-fluid{
    
    padding: 0 37px;
}

.call-to-action-section .img-icons{
    width: 15px;
    filter: white;
}

.call-to-action-section .img-logo{
    margin-top: 150px;
}

.img-call-to-action{
    width: 12px;
    float: left;
    margin-right: 15px;
    margin-top: 3px;
}

.call-to-action-section p{
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
}

.call-to-action-section .container-fluid{
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 30px;
}

.img-call-to-action-location{
    padding-bottom: 20px;
}

.col-email{
    padding-left: 75px;
}

.see-how-fylo:hover{
    color: white;
}

.hover-fylo img svg:hover{
    fill: white;
}

.footer-one, .footer-two{
    display: inline-block;
    width: 50%;  
}

li{
    list-style-type: none;  
}

.footer-one a:hover{
    color: white;
    font-weight: 700;
}

.footer-two a:hover{
    color: white;
    font-weight: 700;
}

.img-icons{
    margin: 0 10px;

}


.anchor-footer{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    
}


.call-location, .col-email, .call-icons{
    padding-top: 6px;
}

.call-footer{
    display: inline-block;
}

.call-icons .img-icons{
    border: 1px solid white;
    padding: 4px;
    border-radius: 50px;
    width: 23px;
    color: rgb(128, 252, 252);
    cursor: pointer;
}

.error{
    color: red;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding-left: 45px;
    display: none;
}

@media (max-width: 1028px) {

    .navbar-brand{
        padding-top: 0;
        padding-bottom: 0;
    }

    .header-section{
        background-image: url("/images/bg-curvy-mobile.svg");
        background-repeat: no-repeat;
        
        padding: 1px 15px;
    }

    .img-logo{
        width: 100px;

    }

    .img-intro{
        width: 300px;
    }

    .header-text h1{
        padding: 10px 10px 0;    
    }

    .header-text p{ 
        padding: 5px 18px;   
    }

    .btn-header{
        margin-bottom: 0;
    }

    .features{
        padding:60px 10px 0;
    }

    .features p{
        padding: 0 50px;
    }

    .img-stay-productive{
        width: 330px;
        padding-top: 50px;
    }

    .stay-productive-section h2{
        text-align: center;
        font-size: 20px;
    }

    .testimonials-row{
        padding: 25px;
    }

    .card-testimonials{
        margin: auto auto 25px;
    }

    .early-access-section{
        margin-top: 0;
    }

    .card-early-section{
        width: 99%;
    }

    .card-early-section .container-fluid{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .card-early-section .form-control{
        width: 235px;
        margin-bottom: 24px;
        
        
    }
    .card-early-section .btn{
        width: 235px;
        height: 40px;
        
    }

    .card-tittle-access{
        font-size: 1rem;
    }

    .card-text-access{
        margin-left: 0;
        margin-right: 0;
    }

    .call-to-action-section .container-fluid{
        padding-left: 40px;
        padding-right: 80px;
    }
    
    .call-to-action-section .call-location{
       padding: 0 0 0 0px;
    }

    .call-to-action-section .img-call-to-action-location{
        padding-bottom: 70px;
    }

    .call-to-action-section .col-email{
        padding-right: 100px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .call-to-action-section .col-email{
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .call-to-action-section .call-footer{
        padding-right: 180px;
        padding-left: 0px;
        padding-top: 25px;
        padding-bottom: 0px;
    }

    .call-to-action-section .footer-two{
        padding-left: 0px;
    }

    .call-to-action-section .call-icons{
        padding-left: 90px;
        
    }

    .call-to-action-section .footer{
        display: block;
        padding-left: 0;
    }

    .call-to-action-section ul{
        padding-left: 0;
    }

    .call-to-action-section .img-logo{
        width: 150px;
    }

    .col{
        padding: 30px;
    }

    .col p{
        padding-left: 30px;
        padding-right: 30px;
    }

    .field-one{
        padding-bottom: 0px;
        padding-left: 25px;
    }

    .field-two{
        padding-top: 0px;
        padding-left: 25px;
    }

    .quotes{
        
        left: 40px;
        top: 2830px;
    }


}

@media (min-width: 1441px){
    .quotes{
        left: 220px;
        top: 2215px;
    }
}

